	ul {
list-style-type: none;
margin:0;
padding: 0;
padding-left: 200px;
}

li{
    float:left ;
}

li a {
	display: block;
	width: 100px;
	text-align: center;
	padding: 25px;
	font-size:20px;
	background-color:#affc41;
}

#tomato{
color:#affc41;
font-family: "Arial";
font-weight:bold;
font-size:50px;
}
body{
background-color:#1dd3b0;
}	

a:visited {
	color:#1dd3b0;
}

a:link{
	color:#1dd3b0;
}